html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  background-color: black;
  font-family: impact;
}

.content {
  padding: 16px;
  padding-top: 80px;
  text-align: center;
}

.addGame {
  border-style: outset;
  border-radius: 16px;
  border-width: 2px;
  border-color: orange;
  background-color: darkgoldenrod;
  color: white;
  text-decoration: none;
  padding: 6px;
  font-size: 2rem;
  place-self: center;
  margin-bottom: 48px;
}

.gameSelect {
  text-align: left;
}

.genre {
  margin-bottom: 16px;
}

h2 {
  color: white;
  font-weight: lighter;
  padding-bottom: 4px;
}

/* Game page */
.gameLogo {
  text-align: center;
}

.gameLogo img {
  background-color: orange;
  border-radius: 16px;
  max-width: 480px;
  padding: 8px;
}

.gameItemCategories {
  background-color: orange;
  border-radius: 16px;
  text-align: center;
  padding: 8px;
  margin: 64px;
  margin-top: 16px;
}

.gameItemCategories div {
  background-color: rgb(30, 15, 0);
  border-radius: 16px;
  text-align: center;
  padding: 16px;
}

.gameItemCategories h2 {
  font-size: 2rem;
}

.category {
  cursor: pointer;
  background-color: transparent;
  border-style: none;
  color: white;
}

.itemInfo {
  background-color: orange;
  color: white;
  text-align: center;
  border-radius: 16px;
  padding: 8px;
  margin: 64px;
  margin-top: 8px;
}

.itemInfo div {
  background-color: rgb(30, 15, 0);
  border-radius: 16px;
  padding: 16px;
}

.itemInfo h1 {
  font-size: 3rem;
}

.itemInfo p {
  font-family: monospace;
  white-space: pre;
  font-weight: normal;
  text-align: left;
  font-size: 12px;
}

.itemInfo img {
  background-color: black;
  border-color: grey;
  border-style: outset;
  border-radius: 8px;
  border-width: 3px;
  padding: 8px;
  max-width: 256px;
  margin: 32px;
}

.addGame {
  background-color: orange;
  color: white;
  border-radius: 16px;
  text-align: center;
  padding: 8px;
  margin: 256px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.addGame div {
  background-color: rgb(30, 15, 0);
  border-radius: 16px;
  padding: 16px;
}

.addGame h1 {
  font-size: 3rem;
  margin-bottom: 32px;
}

.addGame input {
  margin-bottom: 16px;
}

.txtInput {
  border-style: solid;
  border-radius: 8px;
  border-width: 2px;
  border-color: orange;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 6px;
  font-size: 16px;
}

.addBtn {
  border-style: outset;
  border-radius: 16px;
  border-width: 2px;
  border-color: darkgray;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 6px;
  font-size: 16px;
  cursor: pointer;
}

.back {
  border-style: outset;
  border-radius: 16px;
  border-width: 2px;
  border-color: darkslategrey;
  background-color: darkred;
  color: white;
  text-decoration: none;
  padding: 6px;
  font-size: 2rem;
  place-self: center;
  cursor: pointer;
}
